/******* PAGINA PRINCIPAL (INDEX) *******/
/* MOBILE FIRST */
* {
  margin: 0%;
  padding: 0%;
  box-sizing: border-box;
}

body {
  font-family: "Shippori Antique B1", sans-serif;
  margin: 0%;
  padding: 0%;
}

#grid_index {
  display: grid;
  grid-template-areas: "cabecera" "principal" "novedades" "footer";
}

header {
  grid-area: cabecera;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: white;
}

.nav_principal {
  list-style: none;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-left: 75px;
}

.nav_principal li a {
  text-decoration: none;
  color: rgb(7, 7, 7);
  font-size: 15px;
}

.nav_principal li a:hover:not(.active) {
  /*background-color: rgb(170, 116, 87);*/
  border-bottom: solid 3px white;
  transition: 0.5s;
}

.logo_amfoss {
  width: auto;
  height: 40px;
}

main {
  grid-area: principal;
}

#main_principal {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: rgb(56, 45, 33);
  background-image: url(../imagenes/background1.jpeg);
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: unset;
  background-position: center;
  height: 80vh;
  position: relative;
  overflow: hidden;
}

main .textos_main_principal {
  display: flex;
  width: 100%;
  height: 430px;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  letter-spacing: 0.03em;
  line-height: 1.6;
}

.textos_main_principal h2 {
  font-size: 15px;
  color: rgb(0, 0, 0);
}

.textos_main_principal h3 {
  font-size: 15px;
  color: rgb(0, 0, 0);
}

.boton_main_principal {
  font-size: 20px;
  border: solid 1px rgba(4, 0, 245, 0.5);
  color: #fff;
  background-color: rgba(4, 0, 245, 0.5);
  font-weight: bold;
  text-decoration: none;
  justify-content: end;
  text-align: center;
  margin-top: 20px;
}

/* Wave */
.wave_i {
  position: absolute;
  bottom: 0;
  width: 100%;
}

/*Novedades*/
#info {
  grid-area: novedades;
  margin: 0;
  padding: 0;
  width: 100%;
  font-family: sans-serif;
  letter-spacing: 0.03em;
  line-height: 1.6;
  align-items: center;
  flex-wrap: wrap;
  display: flex;
}

.title_info {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  text-align: center;
  font-size: 50px;
  color: #b73413;
  margin-top: 40px;
  margin-left: 30px;
  font-weight: bold;
  font-style: italic;
}

.info_contenedor {
  width: 100%;
  max-width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.info_contenedor .card {
  width: 400px;
  height: 450px;
  border-radius: 16px;
  box-shadow: 0 2px rgba(0, 0, 0, 0.2);
  overflow: hidden;
  margin: 20px;
  text-align: center;
  transition: all 0.25s;
}

.card {
  background-color: rgba(252, 246, 239, 0.89);
  padding: 1%;
}

.info_contenedor .card:hover {
  transform: translateY(-15px);
  box-shadow: 0 12px 16px rgba(0, 0, 0, 0.2);
}

.info_contenedor .card img {
  width: 250px;
  height: 220px;
  border-radius: 10px;
}

.info_contenedor .card h4 {
  font-weight: 600;
}

.info_contenedor .card p {
  padding: 0.1rem;
  font-size: 16px;
  font-weight: 300;
}

.info_contenedor .card a {
  font-weight: 500;
  text-decoration: none;
  color: aqua;
}

@media (min-width: 768px) {
  #grid_index {
    grid-template-areas: "cabecera cabecera cabecera" "principal principal principal" "novedades novedades" "footer footer";
  }
  header {
    flex-direction: row;
  }
  .nav_principal {
    flex-direction: row;
    gap: 30px;
  }
  .nav_principal li a {
    font-size: 18px;
  }
  .logo_amfoss {
    height: 50px;
  }
  .textos_main_principal h2 {
    font-size: 20px;
  }
  .textos_main_principal h3 {
    font-size: 20px;
    align-items: center;
  }
}
@media (min-width: 1024px) {
  header {
    display: flex;
    align-items: center;
    justify-content: space-around;
  }
  .nav_principal li a {
    font-size: 25px;
  }
  .logo_amfoss {
    height: 70px;
  }
  .textos_main_principal h2 {
    font-size: 35px;
  }
  .textos_main_principal h3 {
    font-size: 35px;
    align-items: center;
  }
}
footer {
  grid-area: footer;
}

#footer {
  margin: 0;
  padding: 0;
  width: 100%;
  font-family: sans-serif;
  letter-spacing: 0.03em;
  line-height: 1.6;
  align-items: center;
  flex-wrap: wrap;
  display: flex;
  background-color: black;
}

.footer_datos {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  letter-spacing: 0.03em;
  line-height: 1.5;
  margin-top: 2em;
}

.footer_datos p {
  width: 100%;
  height: 50px;
  padding-top: 10px;
  font-size: 15px;
  font-weight: 700;
  text-align: center;
  color: #fff;
}

.red_social {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
}

.red_social li {
  list-style: none;
}

.red_social p {
  width: 100%;
  text-align: center;
}

.red_social p a {
  text-decoration: none;
  color: #fff;
  font-size: 15px;
}

@media (min-width: 768px) {
  #footer {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  }
  .footer_datos p {
    font-size: 20px;
  }
  .red_social p a {
    font-size: 20px;
  }
}
/* FIN PAGINA PRINCPAL (INDEX) */
/****PAGES -BENEFICIOS-****/
/* MOBILE FIRST */
#body_recetario {
  background-image: linear-gradient(to right, #f3f4f6, #f2f5f8, #f1f6f9, #eff7f9, #eef8f9);
}

main .texts_beneficios {
  margin-top: 50px;
  display: inline-block;
  height: 100px;
  width: 100%;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.texts_beneficios h2 {
  font-size: 20px;
  color: black;
}

#info_beneficios {
  grid-area: novedades;
  margin: 0;
  padding: 0;
  width: 100%;
  font-family: sans-serif;
  letter-spacing: 0.03em;
  line-height: 1.6;
  align-items: center;
  flex-wrap: wrap;
  display: flex;
}

.title_beneficios {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  text-align: center;
  font-size: 22px;
  color: #b73413;
  margin-top: 10px;
  margin-left: 30px;
  font-weight: bold;
  font-style: italic;
}

.beneficios_container {
  width: 100%;
  max-width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.beneficios_container .card_beneficios {
  width: 250px;
  height: 220px;
  border: solid 8px;
  border-color: black;
  box-shadow: 0 2px rgba(0, 0, 0, 0.2);
  overflow: hidden;
  margin: 15px;
  text-align: center;
  transition: all 0.3s;
}

.beneficios_container .card_beneficios:hover {
  transform: translateY(-15px);
  box-shadow: 0 12px 16px rgba(0, 0, 0, 0.2);
}

.beneficios_container .card_beneficios img {
  width: 250px;
  height: 220px;
  align-items: center;
}

@media (min-width: 768px) {
  .beneficios_container .card_beneficios {
    width: 350px;
    height: 320px;
    border: solid 12px;
  }
  .beneficios_container .card_beneficios img {
    width: 350px;
    height: 320px;
  }
  .texts_beneficios h2 {
    font-size: 30px;
  }
  .title_beneficios {
    font-size: 35px;
  }
}
@media (min-width: 1024px) {
  .beneficios_container .card_beneficios {
    width: 400px;
    height: 450px;
    border: solid 12px;
  }
  .beneficios_container .card_beneficios img {
    width: 100%;
    height: 100%;
  }
  /* .texts_beneficios h2 {
    font-size: 40px;
  } */
  .title_beneficios {
    font-size: 50px;
  }
}
#sugerencias_chef {
  grid-area: novedades;
  margin: 0;
  padding: 0;
  width: 100%;
  font-family: sans-serif;
  letter-spacing: 0.03em;
  line-height: 1.6;
  align-items: center;
  flex-wrap: wrap;
  display: flex;
}

.bottomtexts_beneficios {
  display: inline-block;
  width: 100%;
  min-height: 75px;
  align-items: center;
  justify-content: end;
  text-align: center;
  background-color: rgba(226, 216, 204, 0.89);
  margin-bottom: 1px;
  padding: 15px;
}

.bottomtexts_beneficios h3 {
  font-size: 20px;
}

.bottomtexts_beneficios p {
  font-size: 10px;
}

@media (min-width: 768px) {
  .bottomtexts_beneficios h3 {
    font-size: 25px;
  }
  .bottomtexts_beneficios p {
    font-size: 15px;
  }
}
@media (min-width: 1024px) {
  .bottomtexts_beneficios h3 {
    font-size: 30px;
  }
  .bottomtexts_beneficios p {
    font-size: 20px;
  }
}
/****** FIN PAGINA RECETARIO ******/
/****PAGES SERVICIOS****/
/* MOBILE FIRST */
main .texts_services {
  margin-top: 50px;
  display: inline-block;
  height: 100px;
  width: 100%;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.texts_services h2 {
  font-size: 25px;
  color: black;
}

.texts_services h3 {
  font-size: 20px;
  color: rgb(4, 27, 46);
  text-align: center;
}

#services {
  grid-area: novedades;
  margin: 0;
  padding: 0;
  width: 100%;
  font-family: sans-serif;
  letter-spacing: 0.03em;
  line-height: 1.6;
  align-items: center;
  flex-wrap: wrap;
  display: flex;
}

.title_services {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  text-align: center;
  font-size: 30px;
  color: #b73413;
  margin-top: 40px;
  margin-left: 30px;
  font-weight: bold;
  font-style: italic;
}

.services_container {
  width: 100%;
  max-width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.services_container .card_services {
  width: 400px;
  height: 400px;
  border-radius: 20px;
  box-shadow: 0 2px rgba(0, 0, 0, 0.2);
  overflow: hidden;
  margin: 20px;
  text-align: center;
  transition: all 0.45s;
}

.card_services {
  background-color: rgba(226, 216, 204, 0.89);
  padding: 1%;
}

.services_container .card_services:hover {
  transform: translateY(-15px);
  box-shadow: 0 12px 16px rgba(0, 0, 0, 0.2);
}

.services_container .card_services img {
  width: 250px;
  height: 220px;
  border-radius: 10px;
}

.services_container.card_services h4 {
  font-weight: 600;
}

.services_container .card_services p {
  padding: 0.1rem;
  font-size: 16px;
  font-weight: 300;
}

@media (min-width: 768px) {
  .textos_main_galeria_tematica h2 {
    font-size: 35px;
  }
  .textos_main_galeria_tematica h3 {
    font-size: 30px;
  }
  .title_services {
    font-size: 40px;
  }
}
@media (min-width: 1024px) {
  .textos_main_galeria_tematica h2 {
    font-size: 40px;
  }
  .textos_main_galeria_tematica h3 {
    font-size: 35px;
  }
  .title_services {
    font-size: 50px;
  }
}
.bottomtext_services {
  display: inline-block;
  width: 100%;
  min-height: 75px;
  align-items: center;
  justify-content: end;
  text-align: center;
  background-color: rgba(226, 216, 204, 0.89);
  margin-bottom: 1px;
  padding: 15px;
}

.bottomtext_services h4 {
  font-size: 20px;
}

.bottomtext_services p {
  font-size: 10px;
}

@media (min-width: 768px) {
  .bottomtext_services h4 {
    font-size: 25px;
  }
  .bottomtext_services p {
    font-size: 15px;
  }
}
@media (min-width: 1024px) {
  .bottomtext_services h4 {
    font-size: 30px;
  }
  .bottomtext_services p {
    font-size: 20px;
  }
}
/**** FIN PAGES SERVICIOS****/
/****page about us****/
/* MOBILE FIRST */
.text_aboutUs {
  font-size: 20px;
  color: chocolate;
}

.section_pages_aboutUs_container {
  max-width: 1000em;
  margin: 1em;
  height: 400px;
  margin-top: 80px;
  padding: 50px 20px 30px 50px;
  border: solid 5px rgb(201, 102, 102);
  position: relative;
}

.section_pages_aboutUs_text {
  max-width: 1000em;
  margin: 1em;
  border: 5px solid #000428;
  border-radius: 10px;
  background-color: rgba(250, 250, 250, 0.95);
}

.pages_aboutUs_title {
  margin: 0%;
  font-size: 70px;
  color: #b73413;
  font-style: normal;
}

.pages_aboutUs_text {
  font-size: 30px;
  line-height: 1.5;
  color: black;
}

.pages_aboutUs_sign {
  margin-top: 10px;
  color: #004e92;
  font-style: normal;
  font-size: 30px;
}

@media (min-width: 768px) {
  .pages_nostros_explorador_tipo {
    font-size: 30px;
  }
  .pages_explorador_nombre_nosotros {
    font-size: 25px;
  }
  .pages_explorador_nosotros_descripcion {
    font-size: 20px;
  }
  .pages_explorador_nosotros_pie {
    font-size: 25px;
  }
  .pages_galeria_nosotros_explorador_imagen img {
    height: 400px;
  }
}
@media (min-width: 1024px) {
  .pages_nostros_explorador_tipo {
    font-size: 70px;
  }
  .pages_explorador_nombre_nosotros {
    font-size: 35px;
  }
  .pages_explorador_nosotros_descripcion {
    font-size: 30px;
  }
  .pages_explorador_nosotros_pie {
    font-size: 35px;
  }
}
/****** FIN PAGINA NOSOTROS ******/
/****** PAGES -COMENTARIOS-******/
/* MOBILE FIRST */
.pages_comentarios {
  width: 80%;
  height: 100%;
  margin: 20px;
}

.pages_comentarios h4 {
  font-family: sans-serif;
  letter-spacing: 0.01em;
  line-height: 1.6;
  font-size: 20px;
  margin-bottom: 10px;
  text-align: center;
}

.form_comentarios {
  width: 100%;
  max-width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

.pages_comentarios_titulo {
  font-size: 18px;
  color: #b73413;
  font-style: italic;
  text-align: center;
  font-weight: bold;
}

.pages_comentarios_nombre {
  padding: 5px;
  font-size: 10px;
  font-weight: bold;
}

.pages_comentarios_apellido {
  padding: 5px;
  font-size: 10px;
  font-weight: bold;
}

.pages_comentarios_email {
  padding: 5px;
  font-size: 10px;
  font-weight: bold;
}

.pages_comentarios_estado_civil {
  padding: 5px;
  font-size: 10px;
  font-weight: bold;
}

.pages_comentarios_genre {
  padding: 5px;
  font-size: 10px;
  font-weight: bold;
}

.pages_comentarios_novedades {
  padding: 5px;
  font-size: 10px;
  font-weight: bold;
}

.pages_comentarios_coment {
  padding: 5px;
  font-size: 10px;
  font-weight: bold;
}

.pages_comentarios_botton {
  padding: 2px;
}

@media (min-width: 768px) {
  .pages_comentarios h4 {
    font-size: 35px;
  }
  .pages_comentarios_titulo {
    font-size: 20px;
  }
  .pages_comentarios_nombre {
    font-size: 15px;
  }
  .pages_comentarios_apellido {
    font-size: 15px;
  }
  .pages_comentarios_email {
    font-size: 15px;
  }
  .pages_comentarios_estado_civil {
    font-size: 15px;
  }
  .pages_comentarios_genre {
    font-size: 15px;
  }
  .pages_comentarios_novedades {
    font-size: 15px;
  }
  .pages_comentarios_coment {
    font-size: 15px;
  }
}
@media (min-width: 1024px) {
  .pages_comentarios {
    width: 100%;
  }
}
/****** FIN PAGINA COMENTARIOS ******/

/*# sourceMappingURL=styles.css.map */
